<h1>Excursões</h1>
<%= link_to "Nova Excursão", new_excursion_path %>

<% if @excursions.any? %>
  <ul>
    <% @excursions.each do |excursion| %>
        <%= link_to excursion.name, excursion%>
    <% end %>
  </ul>
<% end %>